.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem a {
    text-decoration: none;
}

.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}